{% load static %}
body {
	background-color: #1F4995;

	width: 1280px;

	margin: 0 auto; /*页面居中显示*/
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
#one {
	width:510px;
	height:224px;
	background-color:gray;
	position:absolute;
	left:50%;
	margin:223px 0 0 -255px;
	filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;
}
#login_format {
	width:500px;
	height:300px;
	background: url( "/img/login_bg.gif" ) repeat-x;
	position:absolute;
	left:50%;
	margin:68px 0 0 -250px;
}
input {
	width:150px
}
#login_format div {
	margin-left:104px;
	margin-top:35px;
}
#login {
	background-color:#77B1FF;
	margin-left:0px;
}
#registry {
	background-color:#77B1FF;
}
