{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <base href="http://redatabase.bjut.edu.cn:80/CMS/">

    <title>About the database</title>

	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	<!--
	<link rel="stylesheet" type="text/css" href="styles.css">
	-->
</head>
<body background="{% static '/images/proloadbanner.JPG' %}">
<hr style="color:#265CBC;width:770;margin-top:100px;"/><p></p>
 	<table width="700px" align="center">
 	<tr>
 	<td><font color="black" size="4px">
 	The REs and RE/TM Compounds Database was
	created and constructed by Prof. Xiaoyan Song's research group of Metallic Nanomaterials and Computational Material
		Science at Beijing University of Technology, P.R.&nbsp;China&nbsp;(URL: <a href="http://cms.bjut.edu.cn" onclick="return confirm">http://cms.bjut.edu.cn</a>).
	</font><p></p>
		<Font style="color:#265CBC;margin-top:5px">Forgot password? Please send your Username to bjut-cms@163.com by the email address you registered.  </font>
		<p></p>
	</td>
	</tr>
	</table>
		<hr style="color:#265CBC;width:770"/>
		<table width="700px" align="center">
		<tr>
		<td>
		<span><a color="#56BCEB"  href="http://127.0.0.1:8000/redatabase/">Log in</a></span>
		</td>
		</tr>

</body>
</html>