{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>View data</title>

</head>
<script type="text/javascript" language="java" src="{% static '/js/jquery.js' %}"></script>
<script type="text/javascript" language="java" src="{% static '/js/admin.js' %}"></script>
<link href="{% static '/style/index.css' %}" type="text/css" rel="stylesheet" />
<style type="text/css">
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}
a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
}
</style>
<body background="{% static '/images/bg.PNG' %}">
		<table width="1300" height="50" border="0" >
  <tr align="center">
   <td>
		<div id="index_top">
			<div>
				<span id="index_top_title"><img src="{% static 'images/nanobanner.jpg' %}" border="0" align="center"/></span>

				<!--<span id="welcome_info" style="text-align:center;margin-left:-40px">Welcome:&nbsp;<font color="blue"><b><i>'hilardeng'</i></b></font></span>
				<span style="margin-left:30px">Today is </span>
				<span>04/03/2017</span>-->
</p>
						<a href="http://127.0.0.1:8000/redatabase/changePW/" style="font-weight:bold;font-size:14px;">Change Password</a>
&nbsp;&nbsp;&nbsp;
						<a href="/redatabase/" style="font-weight:bold;font-size:14px;">Log out</a>
&nbsp;&nbsp;&nbsp;
					<a href="http://127.0.0.1:8000/redatabase/index/" style="font-weight:bold;font-size:14px;">Go Back</a>
&nbsp;&nbsp;&nbsp;
					<a href="http://127.0.0.1:8000/redatabase/About2/" style="font-weight:bold;font-size:14px;">Instructions &nbsp; Service</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;						<a href="http://127.0.0.1:8000/redatabase/nan/ViewData/" style="font-weight:bold;font-size:14px;">View Data</a>
&nbsp;&nbsp;&nbsp;

                   <a href="http://127.0.0.1:8000/redatabase/nan/search" style="font-weight:bold;font-size:14px;" >Single search</a></li>
	&nbsp;&nbsp;&nbsp;	<a href="http://127.0.0.1:8000/redatabase/nan/CompSearch" style="font-weight:bold;font-size:14px;" >Combinatorial search</a></li>
&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;	<a href="http://127.0.0.1:8000/search/" style="font-weight:bold;font-size:14px;" >note search</a></li>

		</div>
  </td>
</tr>
</table>
</p>
</table>


 <div>
 {% for materialsinfo in materialsinformation %}
<table  align="center" cellspacing="0" cellpadding="0" border="1">
      <tr>
        <td><font size="5">MaterName</font></td>
        <td></td>
        <td><font size="5">{{materialsinfo.MaterName }}</font></td>
    </tr>

    <tr>
        <td>MaterNumbers</td>
        <td></td>
        <td>{{ materialsinfo.MaterNumbers}}</td>
    </tr>
      <tr>
        <td>Structure</td>
        <td></td>
        <td>{{materialsinfo.Structure }}</td>
    </tr>

      <tr>
        <td>Size</td>
        <td>(nm)</td>
        <td>{{ materialsinfo.Size}}</td>
    </tr>

    <tr>
        <td>MeasureTemperature</td>
        <td>(K)</td>
        <td>{{ materialsinfo.MeasureTemperature}}</td>
    </tr>

    <tr>
        <td>Resistivity</td>
        <td>10E-6 Ωm</td>
        <td>{{ materialsinfo.Resistivity }}</td>
    </tr>

    <tr>
        <td>Conductivity </td>
        <td>W/cm/K</td>
        <td>{{ materialsinfo.Conductivity  }}</td>
    </tr>

    <tr>
        <td>Cp</td>
        <td>(J/mol/K)</td>
        <td>{{ materialsinfo.Cp}}</td>
    </tr>

     <tr>
        <td>Tec</td>
        <td>(10E-4/K)</td>
        <td>{{ materialsinfo.TEC}}</td>
    </tr>

     <tr>
        <td>YModulus</td>
        <td>(GPa)</td>
        <td>{{materialsinfo.YModulus }}</td>
    </tr>

     <tr>
        <td>Microhardness</td>
        <td>(GPa)</td>
        <td>{{ materialsinfo.Microhardness}}</td>
    </tr>

     <tr>
        <td>Remark</td>
        <td></td>
        <td>{{ materialsinfo.Remark }}</td>
    </tr>

</table>
{% endfor %}
 </div>


  <font size="4" color="black">
<div class="main-content-pagitor" align="center">
            {% if materialsinformation.has_previous %}
                <a href="?page={{ materialsinformation.previous_page_number }}"><font size="4" color="black"> last</font></a>
            {% endif %}
            <span>{{ materialsinformation.number }} of {{ materialsinformation.paginator.num_pages }}</span>
            {% if materialsinformation.has_next %}
                <a href="?page={{ materialsinformation.next_page_number }}"><font size="4" color="black">next</font></a>
            {% endif %}
</div>
        </font>

</body>
</html>